<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<renderContentEditor>
				<processor
					patch:before="*[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client']"
					type="SitecoreCustomizedContentEditor.CustomHelpText, SitecoreCustomizedContentEditor"/>
			</renderContentEditor>

		</pipelines>
	</sitecore>
</configuration>